body {
  background-color: #cad2c5;
}
h1 {
  color: #458588;
  }
body {
  color: #323836;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #84a98c;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
